/* Ghi đè cụ thể hơn cho các element carousel */
.my-custom-carousel .carousel.carousel-slider {
  overflow: visible !important;
}

.my-custom-carousel .carousel-slider-wrapper {
  overflow: visible !important;
}

.my-custom-carousel .slider-wrapper {
  overflow: visible !important;
}

.my-custom-carousel .slider {
  overflow: visible !important;
}
